[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyinstaller = "*"
pywin32-ctypes = "*"
pefile = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3"
